.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;

  .crumb {
    button {
      border: none;
      padding: 0.5em;
      background: rgb(210, 224, 254);
      border-radius: 0.5em;
      box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.175);
      cursor: pointer;
    }
  }
}
