.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  h1 {
    margin: 0;
    padding: 0;
  }
  button {
    height: 75%;
    padding: 0 0.7em;
  }
}